.RepeatButton {

    z-index: 1;
    background-color: var(--jp-layout-color2);
    border: 1px solid var(--jp-border-color1);
    padding: 6px 12px;
    font-size: 0.9em;
    cursor: pointer;
}

.ui-repeat .section-row {

    border-radius: 20px;

}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .UPD {
    border: solid;
    border-color: rgb(170, 161, 161);
    border-width: 5px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.internal-ui-repeat .section-row {
    border-color: rgb(32, 156, 156);
    border-width: 5px;
}

.delete-button {
  
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}

.input-title {
    padding: 10px;
}

.dataset-list {
  background: rgb(182, 179, 179);
  float: left;
  width: 23%;
  margin-bottom: 0px;
}

.galaxy-data-panel {
height: 400px; 
overflow-y: scroll;
}

.data-set-row {
list-style-type: none;
height: 30px;
margin: 2px;
background: rgb(163, 167, 167);
padding: 10px;
width: 350px;
}

.help-button {
  background-color: rgb(143, 145, 145);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.active, .help-button:hover {
  background-color: rgb(97, 99, 99);
}

.help-content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  /* border:2px solid black; */
  border-bottom:1px solid rgb(65, 60, 60);
  border-left: 1px solid rgb(65, 60, 60);
  border-right: 1px solid rgb(65, 60, 60);

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.mb-2 .ui-button-check {
  display: inline-block;
}

.drill-down-main {

  border: 1px solid rgb(134, 128, 128);

}

.ui-option {

  border: 2px solid rgb(128, 111, 95);
  border-radius: 2px;
  position:  relative;
  float: left;

}

.multi-selectbox{

  width: 100%;  
}

.gear-rotate::before, .gear-rotate-left::before {
  width: 2.8em;
  height: 2.8em;
  background: 
    -webkit-linear-gradient(0deg,transparent 39%,#E9E581 39%,#E9E581 61%, transparent 61%),
    -webkit-linear-gradient(60deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%),
    -webkit-linear-gradient(120deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%);
  background: 
    -moz-linear-gradient(0deg,transparent 39%,#E9E581 39%,#47EC19 61%, transparent 61%),
    -moz-linear-gradient(60deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%),
    -moz-linear-gradient(120deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%);
  background: 
    -o-linear-gradient(0deg,transparent 39%,#E9E581 39%,#E9E581 61%, transparent 61%),
    -o-linear-gradient(60deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%),
    -o-linear-gradient(120deg,transparent 42%,#47EC19 42%,#E9E581 58%, transparent 58%);
  background: -ms-linear-gradient(0deg,transparent 39%,#E9E581 39%,#E9E581 61%, transparent 61%),-ms-linear-gradient(60deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%),-ms-linear-gradient(120deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%);
  background: 
      linear-gradient(0deg,transparent 39%,#E9E581 39%,#E9E581 61%, transparent 61%),
    linear-gradient(60deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%),
    linear-gradient(120deg,transparent 42%,#E9E581 42%,#E9E581 58%, transparent 58%);
  position: absolute;
  content:"";
  top: -.4em;
  left: -.4em;
  border-radius:1.4em;
}
  
.gear-rotate::after, .gear-rotate-left::after {
  width: 1em;
  height: 1em;
  background: #2B2B2B;
  position: absolute;
  font-size: 10px;
  content:"";
  top: .5em;
  left: .5em;
  border-radius: .5em;
}
  
  /*
   * Keyframe Animations 
   */ 
  
  @-webkit-keyframes gear-rotate {
    0% { 
      -webkit-transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(-180deg); 
    }
  }
  
  @-moz-keyframes gear-rotate {
    0% { 
      transform: rotate(0deg);
    }
    100% { 
      transform: rotate(-180deg); 
    }
  }
  
  @keyframes gear-rotate {
    0% { 
      transform: rotate(0deg); 
    }
    100% { 
      transform: rotate(-180deg); 
    }
  }
  
  @-webkit-keyframes gear-rotate-left {
   0% {
     -webkit-transform: rotate(30deg); 
    }
    100% {
      -webkit-transform: rotate(210deg);
    }
  }
  
  @-moz-keyframes gear-rotate-left {
   0% { 
     -webkit-transform: rotate(30deg); 
    }
    100% { 
      -webkit-transform: rotate(210deg);
    }
  }
  
  @keyframes gear-rotate-left {
   0% { 
     -webkit-transform: rotate(30deg); 
    }
    100% { 
      -webkit-transform: rotate(210deg);
    }
  }
  
  
  .job-status-widget{
    background: hsl(0, 4%, 66%);
    width: 70%;
    height: 290px;
    margin-bottom: 200px;
  
  }
  
  .job-header{
    width: 100%;
    height: 30px;
    height: 30px;
  }
  
  .indicator{
    background: hsl(240, 4%, 22%);
    float: left;
    width: 5%;
    height: 30px;
  }
  
  .job-status{
    background: hsl(240, 4%, 22%);
    width: 75%;
    float: left;
    height: 30px;
  }
  
  .tool-form-reset{
    background: hsl(240, 4%, 22%);
    width: 5%;
    float: right;
    height: 30px;
  }
  
  
  .rerun-button{
  
    height: 100%;
    width: 100%;
  
  }
  
  .job-input-files{
    background: hsl(0, 85%, 48%);
    width: 380px;
    height: 250px;
  }
  

  .job-output-files{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 90%;
    overflow-x: auto;
    overflow-y: auto;
    border-left: solid 1px #2B2B2B;
    border-right: solid 1px #2B2B2B;
  }
  
  .output-file-names {
    overflow-x: auto;
    overflow-y: auto;
    margin-left: 10px;
    background: rgb(255, 255, 255);
  }
  
  .gear-rotate{
    width: 2em;
    height: 2em;
    font-size: 5px;
    top: 8%;
    left: 4%; 
    background: #E9E581;
    position: relative;
    border-radius: 1em;
    -webkit-animation: 1s gear-rotate linear infinite;
    -moz-animation: 1s gear-rotate linear infinite;
    animation: 1s gear-rotate linear infinite;
    display: block;
    margin-left: 3px;
    margin-top: 3px;
    font-size: 10px;
    text-align: center;
  } 
  
  .job-id{  
    text-align: center;
    font-size: 15px;
    float: left;
    color: #ffffff;
    height:  30px;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  .job-footer{
    background: hsl(240, 4%, 22%);
    width: 100%;
    height:  20px;
    float: right;
  }

  .job-detail-text-name {
    float: left;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
  }
  
  .job-done-text {
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    display: block;
    width: 15%;
    float: left;
    background: hsl(240, 4%, 22%);
    height: 100%;
  }

  .job-state-text{
    font-weight: 600;
    height: 100%;
    margin-top: 5px;
  }
  
  .job-done-icon{
    display: none;
    width: 100%;
    height: 100%;
    color: #47EC19;
    font-size: 22px;
    display: none;
    text-align: center;

  }
  
  .job-error-icon{
    display: block;
    width: 100%;
    height: 100%;
    color: #ec1919;
    display: none;
    text-align: center;
    font-size: 22px;
  }
  
  .gear-rotate-icon{
    display: none;
    width: 100%;
    height: 100%;
    color: #ec1919;
    display: block;
    float: left;
    font-size: 22px;
    margin-left: 3px;
  }
  
  
  .rbtn {
    border: none;
    background: none;
    font-size: 22px;
    color: white;
    text-align: center;
  }

  .rbtn:hover {
    border: none;
    background: none;
    font-size: 22.5px;
  }

.data-description {
  font-size: 10px;
}

.data-header{
  font-size: 12px;
}

.Galaxy-form-div {
  margin:0;
  width:100%;
  height:100%;
  overflow:hidden;
} 

 .tool-forms {
  float:left;
  width:70%;
  height:100%;
  margin-right: 10px;
  padding:10px 5px 10px 5px; 
  background-color: rgb(246,246,246)
} 

#dataset-history-label{
  height: 5px;
}

select#History_IDs.InputData{
  padding: 0px;
  margin:0px;
}

.InputData{
  background-color: white
}

